.modalBackdrop {
  z-index: 1000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modalContentWrapper {
  z-index: 1001;
  position: fixed;
  width: 800px;
  height: fit-content;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--neutral-0);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  transition: 400ms;
  justify-content: center;
  color: var(--primary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-bottom: 1px solid var(--primary-2);

  h1 {
    font-weight: 400;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  svg {
    right: 0;
    transition: 200ms ease;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }

    path {
      stroke: var(--primary);
    }
  }
}

.contactInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  width: 100%;
}

@media only screen and (max-width: 900px) {
  .modalContentWrapper {
    width: 90%;
    height: fit-content;
  }
}
