.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem 2rem;
  width: 100%;
}

.textContainer {
  width: 70%;
  max-width: 800px;
  justify-self: center;


  h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--neutral-300);
  }

  button {
    padding: 1.2rem 3.2rem;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: 300ms;
    background-color: transparent;
    color: var(--primary-2);
    border: 1px solid var(--primary-2);
    margin-top: 1rem;

    &:hover {
      scale: 1.05;
    }
  }
}

.video {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  img, iframe {
    margin-bottom: 3rem;
    border-radius: .8rem;
    height: 57.6rem;
    width: 102.08rem;
    border: none;
  }
}

.solutions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 4rem;
    margin-top: 3rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.solutionsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1000px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 900px) {
  .home {
    flex-direction: column;
    
    img{
      width: 80%;
      height: auto;
    }
  }

  .homeGifContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textContainer{
    width: 100%;
  }

  .video{
    img{
      width: 80%;
      height: auto;
    }
  }
}
